name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: validator
          POSTGRES_PASSWORD: val1dat0r
          POSTGRES_DB: project-sem-1
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'
    
    - name: Make scripts executable
      run: chmod +x scripts/*.sh
    
    - name: Prepare environment
      run: ./scripts/prepare.sh
      env:
        PGPASSWORD: val1dat0r
    
    - name: Run application in background
      run: |
        go run main.go &
        sleep 10
        echo "Сервер запущен в фоне"
    
    - name: Test Level 1
      run: |
        echo "Running Level 1 tests"
        curl -X POST -F "file=@sample_data.zip" http://localhost:8080/api/v0/prices
        curl -X GET http://localhost:8080/api/v0/prices --output test1.zip
        ls -la test1.zip
        echo "Level 1 tests completed"
    
    - name: Test Level 2
      run: |
        echo "Running Level 2 tests"
        echo "Level 2 tests completed"
      continue-on-error: true
    
    - name: Test Level 3
      run: |
        echo "Running Level 3 tests"
        echo "Level 3 tests completed"
      continue-on-error: true
